body{
    margin: 0; font-family:Arial, Helvetica, sans-serif; font-size: small; border: 0; width: 100%;
}
header{
  margin-top: 40px;
}
header p{
    color: white;
}
img{
    padding: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr ;
}

.hero{
    background-image: url(images/photo-backdrop.jpg);
   
}
nav a{
    text-decoration: none;
    color: blueviolet;
}
.grid-container-1{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
.flex-container{
    display: flex;
    background-color: white;
    text-decoration: none;
    position: absolute;
    top: 0;
    flex-direction: row;
}
.flex-item-1{
 padding: 10px;
}
.flex-item-2{
    padding: 10px;
   }
   .flex-item-3{
    padding: 10px;
   }
   .flex-item-4{
    padding: 10px;
   }
h2,h3{
    color: blueviolet;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
   font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:white;
}

footer img{
    width: 50px;
    height: 50px;
}
.grid-container-2{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    background-color:blueviolet
}
.grid-item{
    color: black;
}
@media only screen and (max-width: 425px) {
   .hero{
    width: 130%;
   }  
 }
.grid-container-2{
   width: 130%;
}
p{
    font-size:medium;
}
.grid-container-1{
    font-size: medium;
}

@media (min-width: 426px) and (max-width: 768px) { 
    body{
        background-color: grey;
    }
    .flex-container{
        gap: 46px;
    }
    p{
        font-size:medium;
    }
    .grid-container-1{
        font-size: medium;
    }  
    .hero{
       width: 130%; 
    }
}

@media only screen and (min-width: 769px) {
 .hero{
    width: 130%;
 }
 } 
 
